@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
/* =================
top-section
===================== */

.top-section {
  display: flex;
  padding: 0px 25px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #179bd7;
}

.top-section .link a {
  font-size: 14px;
  padding: 15px;
  color: white;
  border-left: solid 1px rgba(255, 255, 255, 0.15);
}
.top-section .link a:last-child {
  border-right: solid 1px rgba(255, 255, 255, 0.15);
}
.top-section .socail a {
  font-size: 14px;
  padding: 15px;
  color: white;
  border-left: solid 1px rgba(255, 255, 255, 0.15);
}
.top-section .socail a:last-child {
  border-right: solid 1px rgba(255, 255, 255, 0.15);
}
.top-section .socail a:hover {
  color: #0001fe;
}

nav {
  height: 100px;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253b80;
}
nav img {
  width: 100px;
}

nav .items a {
  padding: 5px 15px;
  margin-right: 15px;
  color: white;
  font-size: 16px;
  border-left: solid 1px rgba(255, 255, 255, 0.15);
}

nav .items a:last-child {
  background-color: brown;
  border-radius: 5px;
  margin-right: 0;
}

nav .items a:hover {
  border-bottom: 2px solid #179bd7;
}
nav .items a:last-child:hover {
  border-bottom: none;
}
.smail-nav button {
  border: none;
  background-color: #253B80;
}
@media (min-width:901px) {
  .smail-nav{
    display: none;
  }
}
.smail-nav button>div {
  width: 35px;
  height: 4px;
  margin: 5px;
  background-color: white;
}
.dropdown-menu{
  width: 270px;
  background-color: #179bd7;
}
.dropdown-item{
  color: white;
  line-height: 2;
  font-size: 18px;
}
/* =================home================ */
.carousel-item img{
  width: 100%;
  height: 500px;
}

.department{
  padding-bottom: 90px;
 background-color:#F7F7F7;
}
.department .tittle{
  margin-bottom:40px;
text-align: center;
padding-top: 50px;
}
.department .tittle h2{
      font-weight:500;
      margin-bottom:11px;
    }
.department .tittle hr{
  width: 50px;
  margin:20px auto;
    /* border-bottom: 5px solid;
    border-image: linear-gradient(45deg, green, blue) 10; */
    border: 4px solid black;
}
.department-content{
  width:950px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.department-items{
  width:calc(50% - 30px);
  height: 200px;
  display: flex;
  align-items: center;
  background-color:#253B80;
  margin: 20px 15px;
  border-radius:8px;
  border-left:8px solid brown;
}

.department-items:hover{
  transform: translate(5px);
  transition: all 1s;
}
.department-items .fa{
  font-size:50px;
  color: white;
  margin-right: 15px;
}

.department-items h3{
  color: white;
}
.department-items .icon{
 width: 160px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#179bd7;
  margin-right: 15px;
}
.department-items .text{
padding-left: 15px;
}
.department-items .text h3{
  font-size: 22px;
}
.news-content{
  background-color: #FFFFFF;
}
.news-content .tittle{
  text-align: center;
}
.news-content .items{
  border: 1px solid rgba(0, 0, 0, .06);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  border-radius:7px;
  color: white;
  margin: 25px 10px;
}
.news-content .items img{
  width: 100%;
  height: 17rem;
  margin-bottom:20px;
}
.news-content .items .items-tittle{
  width: 100%;
  height: 140px;
  margin-bottom: 25px;
}
.news-content .items .items-tittle h3{
  color: black;
  font-size: 1.4em;
    font-weight: 600;
    line-height: 27px;
    margin: 0 0 14px;
}
.news-content .items .link .text{
  color: #253B80;
}
.news-content .items .link .text i{
  color: brown;
  margin-right: 7px;
}
.news-content .items .link a{
  color: #253B80;
}
.news-content .items .link a:hover {
  color: #179bd7;
  text-decoration: underline;
}
.view-news{
  width: 40%;
  display:flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #253b80;
  border: #253B80;
  padding-top: 12px;
    padding-top: .75rem;
    padding-bottom: 12px;
    padding-bottom: .75rem;
    font-weight:500;
    border-radius: 5px;
}
.view-news:hover{
  color: white;
}
/* ==============footer===================== */
.footer ul li a {
  color: white;
  font-size: 15px;
}

.footer p {
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  color: orangered;
}

.footer-social a {
  margin-right: 20px;
  color: white;
  font-size: 24px;
}
.footer img{
  width:100%;
  margin-right:50px;
}
/* =============Responsive code ================= */
@media (max-width:990px) {
  .department-content {
      width:100%;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
    }
}

@media (max-width:900px) {
  .department-items{
    width: 95%;
  }
  nav .items{
    display: none;
  }
}